.imgstyle1 {
	 background: url(https://s3.us-east-2.amazonaws.com/picturesforanyone/images/LogoTapestry.jpg);
	 /*  opacity: 0.5;*/
	   background-size: cover;
}

.imgstyle2 {
	 background: url(https://s3.us-east-2.amazonaws.com/picturesforanyone/images/Logo_small.jpg);

}

.imgstyle3 {
	 background: url(https://s3.us-east-2.amazonaws.com/picturesforanyone/images/Final+Logo.png);

}

.imgstyle4 {
	 background: url(https://s3.us-east-2.amazonaws.com/picturesforanyone/images/InvisibleWalls.jpg);

}


.imgstyle5 {
	 background: url(https://s3.us-east-2.amazonaws.com/picturesforanyone/images/nuancelogo2.jpg);

}


.imgstyle6 {
	 background: url(https://s3.us-east-2.amazonaws.com/picturesforanyone/images/Chara+Logo2.jpg);

}


